<h2>Cart items</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Overall</th>
        </tr>



    </thead>
    {{range .Items}}
    <tr>
        <td>{{.Product.ID}}</td>
        <td>{{.Product.Name}}</td>
        <td>{{.Product.Category}}</td>
        <td>{{.Product.Price}}</td>
        <td>{{.Product.Unit}}</td>
        <td>{{.Quantity}}</td>
        <td>{{.Overall}}</td>
    </tr>


    {{end}}
</table>
<body>

<h4>Suma Twoich zakupów to {{ .Sum }}</h4>

</body>
{{template "footer.html"}}
