<html>
<h2>Add delivery</h2>

<form action='add_delivery'>

    SUPPLIER
    <select name='supplier'>
        {{range .Suppliers}}
        <option>{{.Name}}</option>
        {{end}}
    </select>

    CATEGORY
    <select name='category'>
        {{range .Categories}}
        <option>{{.Name}}</option>
        {{end}}
    </select>

    <label for='unit'>UNIT:</label>
    <select name='unit' id="unit">
        <option>piece</option>
        <option>kg</option>
    </select>

    QUANTITY<input name='quantity' id="quantity">


    PRICE<input name='price'><input type='submit' value='Add'></form>

{{template "footer.html"}}

</html>